body {
  background-color:#29abe2;
  margin: 0;
  text-align: center;
}

div {
  color:antiquewhite;
}

p, h1 {
  font-family: "Arial", Arial, Helvetica, sans-serif;
}

h1 {
  text-decoration: underline;
}

header, footer {
  text-align: center;
}

footer {
  background-color: red;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid #ffffff
}

img {
  border-radius: 25px;
}

ul {
  list-style-type: none;
}

li {
  font-size: 16px;
}

#time {
  position: absolute;
  top: 10px;
  right: 10px;
}

#my-pic {
  border-radius: 50%;
  box-shadow: 5px 5px 10px #888888
}

a:hover {
  color: blueviolet;
}

header {
  background-color: pink;
}